@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,700&display=swap');

* {
  font-family: 'Barlow', sans-serif !important;
  box-sizing: border-box;
}

#app {
  min-height: 100vh;

}

button.primary {
  //color: #4550E6 !important;
  background-color: #4550E6 !important;
}

.welcome {
  display: flex;

  &__logos {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    &__logo {
      margin-right: 50px;
      max-width: 100px;
      max-height: 100px;
    }
  }
}
