@import url('https://fonts.googleapis.com/css?family=Barlow:300,400,700&display=swap');

* {
  font-family: 'Barlow', sans-serif !important;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  height: 100vh;
}

/*
.container, .grid, .column  {
  height: 100%;
}
*/

button.primary, .primary.container {
  //color: #4550E6 !important;
  background-color: #4550E6 !important;
}

.welcome {
  display: flex;

  &__logos {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    &__logo {
      margin-right: 50px;
      max-width: 100px;
      max-height: 100px;
    }
  }
}
